[2019-07-08 20:12] nmolson opened #1 "Compatibility with Matlab/Simulink Software in the Loop and Code Coverage Tools"
Currently the cFS SIL code is not compatible with running the software in software in the loop mode or performing code coverage analyses in certain configurations. This capability is necessary for our group to provide high quality guidance, navigation, and control code that has been tested sufficiently.

Recent Matlab updates (2018b and beyond) have made it possible to update the SIL code to suppo

[2019-07-30 19:04] JimKaidyNASA opened #5 "Missing xxx_private.h"
Apparently a referenced xxx_private.h was not created in the SIL.
[code]

[2019-07-31 14:16] SpaceSteve121 commented on #5
@JimKaidyNASA I transferred this issue to the SIL repo, because SIL produced that header file, not the ECI. Will take a look.

[2019-07-31 14:25] SpaceSteve121 commented on #5
The relevant code is [here](https://github.com/nasa/SIL/blob/master/src/cfs_interface.tlc#L69), where you can see that we unconditionally generate an include for that header file, on the assumption that Simulink code is going to generate that header file.

@JimKaidyNASA Do you mind building code and examining the code generation report and just confirming that the private header is not listed unde

[2019-07-31 15:13] JimKaidyNASA commented on #5
Steve,
I reran the code generation.  It is still missing the include files (not just private).

What header pattern am I looking for in Controller.c that would give me a tell on whether it’s there or not?

I searched for private, and that pattern is not there.

[2019-07-31 15:23] SpaceSteve121 commented on #5
If you generate code from, for example, the FlagAtTop unit test model, in FlagAtTop.c (which is the model.c for this model), you should see:

[code]

As you can see, this code is including its `model_private.h`. If that's the case in your model, then I'd definitely expect Simulink to have generated that header, and so we need to try to figure out why Simulink didn't generate that header. If  `mode

[2019-07-31 15:28] JimKaidyNASA commented on #5
The private include is not there:

[code]

As far as the other includes I did a search for includes for the other two GN&C apps.  They had bunch that Controller did not have.  I don’t know if that really means anything.

[2019-07-31 15:31] JimKaidyNASA commented on #5
So the eci_interface.h is the offending one that is looking for the private include:

[code]

[2019-07-31 15:34] SpaceSteve121 commented on #5
@JimKaidyNASA It looks like you're responding to these comments via email, but you're including the last couple messages with every post, which makes it very hard to read. Could you please try to ensure that only your response ends up in the post?

Also, if you could use [code blocks](https://help.github.com/en/articles/creating-and-highlighting-code-blocks) for your code, that makes it much easie

[2019-07-31 15:39] tjacobs2019 opened #6 "Table compilation errors"
Do I have to do any type of  table conversion before I build the tables, because none of my tables are being built.

All of my tables are getting the same error that is listed below for that specific table.

[code]

[2019-07-31 15:39] JimKaidyNASA commented on #5
Ok I am on the github doing responses from there.  Sorry about all the email junk.  I will use the code blocks when sending code.

So the question is, should the eci_interface.h have the include for Controller_private.h?

[2019-07-31 15:43] SpaceSteve121 commented on #5
@wjstuart Can you help me out here? Are there situations under which a private header is not generated? Perhaps the SIL needs to conditionally generate that include only when the model requires it?

[2019-07-31 15:47] SpaceSteve121 commented on #6
@tjacobs2019 I believe this code is SIL-generated, so I'm going to transfer the issue over to that repo.

[2019-07-31 15:48] SpaceSteve121 commented on #6
The answer to your question is no... the code should be valid as-generated. Need a bit to look into this and will get back to you.

[2019-07-31 15:56] SpaceSteve121 commented on #6
Because I don't have your code/model, I'm looking at the `ParmTblWValidation.slx` unit test model. In that model, looking at the generated `parmTbl.c`, if I trace through all the includes, model.h is never included.

Your errors indicate that a definition of `cntl_srm_gains_Tbl` within Controller.h is conflicting with the definition of `cntl_srm_gains_Tbl` in cntl_srm_gains.c. Can you help me unde

[2019-07-31 18:52] tjacobs2019 commented on #6
I had to include the include the 'Controller.h' header file in the table source file, because if I didn't I was getting unknown type  name error for 'cntl_srm_gains_Tbl_b' table definition. The 'Controller.h' file contains all of the table definitions.

[2019-08-01 00:02] SpaceSteve121 commented on #6
I wouldn't recommend hand-editing the code.... the idea is that the SIL should generate valid code and the cases where it doesn't are usually an indication of a misconfiguration. It also makes it very hard to help you figure out what's going on because I have no way of know what hand edits you may have made and how those might change the structure of the code.

Assuming we're dealing with unmodifi

[2019-08-05 12:40] tjacobs2019 opened #7 "App startup problem"
The first problem is that the app entry point name is to large 'nonperfectnav_AppMain', so I'm getting 'ES startup: Unexpected entry type in startup file' error, so I shorten the name in the Makefile, eci_interface.h, and the startup script files, but I still got an startup error 'Could not load cFE application'.

[2019-08-05 12:50] SpaceSteve121 commented on #7
Though you didn't say it, I assume the reason you're posting here is because this code was SIL-generated.

@tjacobs2019 Could you perhaps double check that error? As far as I can tell, that would be generated from [this section of the ES code](https://github.com/nasa/cFE/blob/8811c92094512975e14fd545df355705141560b2/fsw/cfe-core/src/es/cfe_es_apps.c#L376) which is checking the EntryType (ie, the f

[2019-08-05 17:14] tjacobs2019 commented on #7
There is no length checking in ES, but the app name can only be 20 characters long. The entry application name is overwriting the application type.

[2019-08-05 17:26] SpaceSteve121 commented on #7
As I mentioned, the App's name is determined by the name of the model used to generate the code and I don't think that's something we necessarily want to change. So in the short term I'd recommend shortening the model name and regenerating the code.

In the longer term, perhaps you might consider submitting an issue to https://github.com/nasa/cFE/ and ask them to improve/change their behavior star

[2019-08-05 18:18] tjacobs2019 commented on #7
In the function  'CFE_ES_ParseFileEntry ()' in the cfe_es_app.c file, it has a local  variable EntryPoint[OS_MAX_API_NAME],  OS_MAX_API_NAME is defined as 20 bytes. I added a print statement to the 'CFE_ES_ParseFileEntry ()' function, and the print statement shows that local the variable EntryType[OS_MAX_API_NAME],  is being overwritten.

[2019-08-12 17:41] skliper commented on #7
Looks like this may have been fixed in the latest cFE open source release (6.6).  At least I don't see the same code (local variable is just a pointer, passed into CFE_ES_AppCreate, and copied into the app table using strncpy.)

https://github.com/nasa/cFE/blob/8811c92094512975e14fd545df355705141560b2/fsw/cfe-core/src/es/cfe_es_apps.c#L603

[2019-08-15 17:19] wjstuart commented on #5
@JimKaidyNASA, this is likely caused by using Compact file packaging format for your code generation settings.  Try using 'Modular' instead.  See [https://www.mathworks.com/help/releases/R2019a/ecoder/ref/file-packaging-format.html](url) for more information on this code generation setting.  A setting of 'Compact' does not produce a model_priv.h, whereas a setting of 'Modular' does.

[2019-08-19 13:36] JimKaidyNASA commented on #5
I am using the Embedded Coder Quick Start dialogue and I have updated every one of the settings to Modular (there are a number of Quick Start settings files that are date/time stamped including the original model one.  The Quick Start is getting a "new" setting to Compact from somewhere and it is making Modular "old".  I understand Nick Olson is using Embedded Coder as an app without the Quick Sta

[2019-08-19 14:01] wjstuart commented on #5
Quick Start is essentially  meant to be one-time wizard for a project setup.  The Compact setting is only a suggestion.  Bottom line, you should not be using the Quick Start to generate code when using the cfs_ert.tlc target.  Either the rtwbuild or slbuild API can be used to generate your model code.

[2019-08-19 14:07] JimKaidyNASA commented on #5
Ok great.  That should be more prominent in the usage.  It's the only option that has Embedded Coder in it, but I will use the Build option instead if that's what to use.  I tried using rtwbuild and it looks like it ran but had some errors:
[code]

[2019-08-21 13:26] JimKaidyNASA commented on #5
What is the status of implementing a fix to allow software bus pipe names greater than 20 bytes and table names greater than 16 bytes?

[2019-08-21 15:27] SpaceSteve121 commented on #5
@JimKaidyNASA This issue is discussing the generation of the private header file... did you perhaps mean to ask this in #7?

[2019-08-21 16:40] JimKaidyNASA commented on #7
What is the status of implementing a fix to allow software bus pipe names greater than 20 bytes and table names greater than 16 bytes?

[2019-08-21 16:45] SpaceSteve121 opened #9 "What is the status of implementing a fix to allow software bus pipe names greater than 20 bytes and table names greater than 16 bytes?"
What is the status of implementing a fix to allow software bus pipe names greater than 20 bytes and table names greater than 16 bytes?

_Originally posted by @JimKaidyNASA in https://github.com/nasa/SIL/issues/7#issuecomment-523543211_

[2019-08-21 16:52] SpaceSteve121 commented on #9
Apologies @JimKaidyNASA, I misread your original post and on second read don't think your question relates to the SIL. I created this issue to document the answer.

If you need to increase the allowable length of software bus pipe and table names, that would be a CFE configuration. Specifically, you'd want to look at `OS_MAX_API_NAME` and `CFE_MISSION_TBL_MAX_NAME_LENGTH` which looks like they're

[2019-08-21 16:52] #9 closed

[2019-08-21 16:58] SpaceSteve121 commented on #7
@JimKaidyNASA Note that app main name length wasn't what you were asking about above, but even this issue is not an problem with SIL specifically... its an issue with using a model name which results in a main function whose name is longer than OS_MAX_API_NAME, a CFE configuration value.

I agree that we should add a note to our documentation about that limitation, but in terms of a fix, the best

[2019-08-21 17:01] JimKaidyNASA commented on #7
Instead of limiting the name length, what is the problem in lengthening?

[2019-08-21 17:13] SpaceSteve121 commented on #7
SIL does not implement a limit on the name, so we can't extend a limit which doesn't exist. CFE does limit the length of the name (presumably because it needs to know how much memory to allocate to hold the name), but that limit is already configurable and so can be increased as needed in your CFS system.

Like I said, the best that SIL could do is warn the user if they end up with a name that's l

[2019-08-21 17:17] JimKaidyNASA commented on #7
Thank you for clarifying that SIL versus cFE aspect of this.  I guess my question is addressed to the cFE limit, not to a SIL limit that does not exist or even a possible warning on name length in the SIL.
I am addressing my concern to the cFE.  Is this an appropriate forum for that question or do I need to put the request to lengthen into a cFE forum?

[2019-08-21 17:22] SpaceSteve121 commented on #7
`OS_MAX_API_NAME` should already be configurable, in which case you'd just need to set it to a higher value for your system. Opening an issue on the [CFS repo](https://github.com/nasa/cFS) is probably the best way to get more information if you need more specifics on how to do that.

[2019-08-26 18:00] SpaceSteve121 commented on #1
@nmolson I think PR #4 is ready for merging, which contains the code updates needed to allow the use of SIL mode simulations. I just need to do some doc updates before I go ahead and do the merge. Would you mind taking a look at that branch and confirming that it does what you want it to?

[2019-09-04 15:34] JimKaidyNASA commented on #5
Before we go back and start editing our Simulink models to reduce name sizes, is there something that makes the accommodation of table names greater than 16 characters not possible in the code?

We’ve set the CFE_TBL_MAX_NAME_LENGTH to 28 and got through the initial issue with lengths.  The problem shows up with the CFE_TBL_FileDef  length not properly defined.  I’ve looked to see how this happens

[2019-09-04 15:36] JimKaidyNASA opened #11 "CFE_TBL_FileDef Size Error"
Before we go back and start editing our Simulink models to reduce name sizes, is there something that makes the accommodation of table names greater than 16 characters not possible in the code?

We’ve set the CFE_TBL_MAX_NAME_LENGTH to 28 and got through the initial issue with lengths. The problem shows up with the CFE_TBL_FileDef length not properly defined. I’ve looked to see how this happens an

[2019-09-04 15:36] SpaceSteve121 opened #12 "Maximum length of table names"
Before we go back and start editing our Simulink models to reduce name sizes, is there something that makes the accommodation of table names greater than 16 characters not possible in the code?

We’ve set the CFE_TBL_MAX_NAME_LENGTH to 28 and got through the initial issue with lengths.  The problem shows up with the CFE_TBL_FileDef  length not properly defined.  I’ve looked to see how this happens

[2019-09-04 15:38] SpaceSteve121 commented on #5
@JimKaidyNASA Reopened this because we haven't yet implemented the fix for generating the private header include if the model is using Compact packaging. We'll keep this issue open until the necessary changes have been made to the SIL, so that folks can track the progress.

I see you've opened an issue for your question above, so I deleted the comment since its not relevant to this issue.

[2019-09-04 15:39] SpaceSteve121 commented on #12
Closed because duplicate of #11

[2019-09-04 15:39] #12 closed

[2019-09-04 15:44] SpaceSteve121 commented on #11
@JimKaidyNASA Is it possible for you to post `ctrl_srm_gains.c` so that we can take a look at the arguments to the CFE_TBL_FileDef call?

[2019-09-04 15:48] JimKaidyNASA commented on #11
![image](https://user-images.githubusercontent.com/52501916/64270649-e8dd8e00-cf09-11e9-8036-960bd10ffbb7.png)

[2019-09-04 15:50] JimKaidyNASA commented on #11
Sorry I saw close and comment and thought that was closing the comment, not closing the issue.

[2019-09-04 15:54] SpaceSteve121 commented on #11
@JimKaidyNASA In the future, its very helpful if you can use the [code tags](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code) when posting code, because it makes it much easier to read and copy/paste than a screenshot. What you have is fine for now though.

Based on that snippet, it looks like the size of your table should be 48 bytes (6 doubles * 8 bytes each), which is defi

[2019-09-04 16:23] SpaceSteve121 commented on #11
Note, the location that error is being generated from is https://github.com/nasa/elf2cfetbl/blob/09102cca146dab4106009452bc8ac8b5fc5a0fa4/elf2cfetbl.c#L1571

Need some time to try to understand what's going on there.

[2019-09-04 17:36] JimKaidyNASA commented on #11
Ok thanks for keeping me posted.  Hoping it is just a matter of increasing the size limit on another component of the full name or the formula for generating it.

[2019-09-05 21:04] JimKaidyNASA commented on #11
Steve I have been looking at this code and have traced the logic and from the best I can tell the TblDefSymbolIndex (equal to SymbolIndex) is possibly not defined.  It depends on a value coming from a loop that needs a non-zero value for NumSymbols in the index loop where GetSymbol is called to set the index for SymbolIndex .  I don't see anywhere where NumSymbols is set to anything but zero. But

[2019-09-06 14:03] SpaceSteve121 commented on #11
@skliper Are you the POC for the elf2cfetbl tool? Otherwise, do you know of anyone who might be able to help look into this?

[2019-09-06 14:45] skliper commented on #11
The error is on matching size for CFE_TBL_FileDef_t between the object built and what elf2cfetbl is expecting:

https://github.com/nasa/cFE/blob/b2765d9f905aa11f0c3b419b62233597366a7db9/cfe/fsw/cfe-core/src/inc/cfe_tbl_filedef.h#L85-L92

Did you rebuild elf2cfetbl after changing the size of CFE_TBL_FileDef_t (by changing the table name length)?

[2019-09-06 14:50] JimKaidyNASA commented on #11
Was not aware of the need to rebuild efl2cfetbl as a separate operation.  Can you give guidance on that step?

[2019-09-06 15:08] JimKaidyNASA commented on #11
I followed the README in the directory, copying it from the for_build and ran make clean and make.  Got this error that osconfig.h is not found.
![image](https://user-images.githubusercontent.com/52501916/64438768-b319e000-d096-11e9-8faf-a99ffe17d388.png)

[2019-09-06 16:54] JimKaidyNASA commented on #11
After copying three missing files into the elf2cfetbl directory including osconfig.h, cfe_platform_cfg.h and cfe_msgids.h, I was able to build elf2cfetbl.c into an executable.

I then went back to the ~/cfs/build/cpu1 directory, did a make clean and attempted to build again.  Still getting the same error as before.

[2019-09-06 18:20] skliper commented on #11
Right.  I'm not as experienced with classic build, but what I think what you did was rebuild elf2cfetbl in the elf2cfetbl directory.  Then when rerunning the classic build to build tables, it likely used the efl2cfetbl executable that was built as part of the standard build process (and `make install` if that step is in classic build).  I'd recommend instead doing a fresh rebuild of everything, if

[2019-09-06 18:22] skliper commented on #11
Note if you redo the build from scratch, you shouldn't need to copy any includes (and you'll likely want to remove those you coppied since they could be overriding what the build from scratch expects).

[2019-09-06 18:43] JimKaidyNASA commented on #11
Just to affirm that I did do a rebuild of ef2cfetbl in the ef2cfetbl directory.  Given that, I need to understand the specific steps in "doing a fresh rebuild of everything".  I am not sure what it means to do a distclean in classic build.
0) Remove the three files I copied into the efl2cfetbl
1)Where do I do the distclean?
2)Do I rebuild efl2cfetbl in the efl2cfetbl directory?  Are those include

[2019-09-06 20:13] skliper commented on #11
I recommend doing step 0 now/first.

When you first built the entire system, did you run a `make all` and `make install` from some base directory somewhere (or maybe the build directory?) and it all worked?  If so, from that same directory, run `make clean`, `make all`, and `make install` again.  This should rebuild everything including elf2cfetbl and put it in the right location for you, as well

[2019-09-06 20:15] skliper commented on #11
I poked around a bit in the old code, try from the build/cpu1 directory `make distclean` and then `make`, don't forget to run the setvars.sh first per the standard directions.

[2019-09-06 20:57] JimKaidyNASA commented on #11
Did a make clean, make config (once) then make.  Did not do a make all or make install.

[2019-09-06 21:01] JimKaidyNASA commented on #11
I did step 0 (removed the three files as well as the executable elf2cfetbl).  I went to the top level directory ~/cfs and reran setvars.sh and then went to ~/cfs/build/cpu1 and did a make clean and the make all.  Still getting the error.

I

[2019-09-06 21:41] skliper commented on #11
Check were the elf2cfetbl was built (find ./ -name "elf2cfetbl") and confirm it just got rebuilt (check the timestamp).  Just a make clean may not remove it.  Probably need to do a `make distclean`.  If that doesn't work just delete the executable and try again, hopefully that makes it rebuild?  If it was just rebuilt then I recommend using a debugger or poke in printf's and check the size and con

[2019-09-09 14:06] JimKaidyNASA commented on #11
I have verified that the executable elf2cfetbl is deleted after the make distclean.

When I tried the make, I get the missing file error again.. osconfig.h.

[2019-09-10 13:19] skliper commented on #11
How did you get it to build the first time?  Sounds like you may have bigger issues in your distribution.  I'd recommend starting from a working version that builds from scratch, then apply your changes.  I don't have enough information to suggest anything more helpful.

[2019-09-10 13:28] JimKaidyNASA commented on #11
I followed the README.md in the top level directory from the repository.  I was able to build with no problem.

![image](https://user-images.githubusercontent.com/52501916/64617877-35fbad00-d3ad-11e9-921c-a7e1ce487d89.png)

[2019-09-10 13:30] JimKaidyNASA commented on #11
I have been compiling the steps we took to document them.  Attached in the word document are the procedures we've used so far.
[Template for GN&C Integration cFS.docx](https://github.com/nasa/SIL/files/3595869/Template.for.GN.C.Integration.cFS.docx)

[2019-09-10 13:35] skliper commented on #11
If it built with a clean clone, and it has errors now with a missing header file, that points to an issue with one of the changes you made.

[2019-09-10 13:35] SpaceSteve121 commented on #11
@JimKaidyNASA Perhaps start that process again from the beginning (so that you have a clean repo), but make your modification to the table name size before you start the second section (ie, `setvars`) which includes the compilation?

Also note that we don't necessarily recommend that you use our CI scripts in your development workflow... they could be used to initialize a repo for the first time,

[2019-09-10 13:40] JimKaidyNASA commented on #11
What scripts are you referring to as CI? (command input?)

[2019-09-10 13:46] SpaceSteve121 commented on #11
CI in this context is Continuous Integration... sorry for the confusion. CI refers to the tests that we run every time we update this code. Those scripts are intended to setup the SIL/ECI on a fresh system so that we can test changes to this code automatically.

Thus, they can be used to set up a development environment, however typically you'd want to configuration manage your environment once yo

[2019-09-10 13:50] JimKaidyNASA commented on #11
So which one is it the make config that we should not use?

[2019-09-10 13:53] SpaceSteve121 commented on #11
All I was saying is that I don't necessarily recommend using our `fetchCFE.sh` script in your workflow, which you're calling from the `ci` directory of the ECI repo. That script was developed and is used for SIL/ECI testing. I was just warning that we make no guarantees about the stability of that script and might update it to get CFE 6.6 in the future, which might break your workflow if you're ex

[2019-09-10 13:59] JimKaidyNASA commented on #11
That's fine.  I understand now.  I had my suspicions about the fetch.  It does actually retrieve the 6.5 as desired though, but I will attempt another fresh checkout, manually switch to 6.5 and then make the table name max length change just before the setvars.sh.

[2019-09-12 13:25] JimKaidyNASA commented on #11
I made sure that the cfe version is 6.5 and have attempted to test the modification to the procedure by setting the table max (CFE_TBL_MAX_NAME_LENGTH) to 28 from 16 and then running the setvars.  The error is still the same.
![image](https://user-images.githubusercontent.com/52501916/64787825-4fccf980-d53f-11e9-87a6-5a5955d42689.png)

[2019-09-12 14:44] skliper commented on #11
That doesn't look like the same failure to me.  You are missing the cntl_srm_gains.c file.

[2019-09-12 14:52] JimKaidyNASA commented on #11
Yes you are correct.  I am looking for what is missing in my procedure to get the error back.

[2019-09-13 13:57] JimKaidyNASA commented on #11
[Template for GN&C Integration cFS.docx](https://github.com/nasa/SIL/files/3610319/Template.for.GN.C.Integration.cFS.docx)
I have a procedure for the nominal cfs build and the cnt added.  This gets us to where we were with the table size issue.  I tried a modified version of changing the CFE_TBL_MAX_NAME_LENGTH  to  28 before the setvars.sh and it doesn't make any difference when building the cfs

[2019-09-13 14:34] skliper commented on #11
I'd suggest trying to move "Edit cfe_mission_cfg.h" before the initial build (that is likely building your elf2cfetbl, and may not be getting rebuilt the second time you build).

[2019-09-13 16:10] JimKaidyNASA commented on #11
I actually went ahead and deleted elf2cfetb executable and did a make clean and make.  So I know it is rebuilding elf2cfetbl.
![image](https://user-images.githubusercontent.com/52501916/64877455-7cf0d900-d61f-11e9-8e14-945c2f7395d5.png)

[2019-09-13 17:52] skliper commented on #11
I'm now thoroughly confused what error we are trying to fix here.  Is it the one listed in the original post on the thread or the one you highlight above?  They don't look the same to me.  The one you just highlighted is the table name being too long.

[2019-09-13 17:54] skliper commented on #11
It's possible to fix the original issue you might need to change the table name size in two locations, both for cFE and for elf2cfetbl.  There is a current ticket open against cFE 6.7 to clean up the table name size macros and make them consistent, but there is no plan to update 6.5.

[2019-09-13 17:58] JimKaidyNASA commented on #11
Yes I have no problem with making the change to both for now until cFE 6.7 comes out.  In the meantime I am searching for where ECI_PARAM_TBL_MAX_NAME_LEN is being set.  I cannot find a default in the *.h or *.c files.

[2019-09-13 19:24] skliper commented on #11
I'm actually surprised ECI would define it's own TBL_MAX_NAME_LEN, @SpaceSteve121 any ideas?

[2019-09-13 19:25] skliper commented on #11
Just so I can keep things straight in my head, the error here is during your build of the table prior to the elf2cfetbl step, so it's not clear to me yet that you've hit the original error again.

[2019-09-13 19:41] JimKaidyNASA commented on #11
Yes I believe you may be correct.  The original error violated table-rules.mak:21 and this one is table-rules.mak:27.
That said the original error seems to be related elf2cfetbl but this may be because we weren't rebuilding the elf2cfetbl executable (or not related).  But something tells me we are closing in because the ECI_PARAM_TBL_MAX_NAME_LEN seems to be the key since this gives us a bit more

[2019-09-13 19:43] SpaceSteve121 commented on #11
Look [here](https://github.com/nasa/ECI/blob/master/fsw/src/eci_tbl_if.h#L17) for the definition of `ECI_PARAM_TBL_MAX_NAME_LEN`. It defaults to `CFE_TBL_MAX_NAME_LENGTH`, so as long as you've set that and recompiled I'm not sure why you're running into that.

[2019-09-13 19:48] JimKaidyNASA commented on #11
Yes I found this.  So does the hashtag define on line 22 set them equal (set by CFE_TBL_MAX_NAME_LENGTH)?  Does this mean that I just need to increase the CFE_TBL_MAX... to something that the combined name and other stuff concatenated can fit under when it compares to the ECI_PARAM...?

[2019-09-13 19:52] SpaceSteve121 commented on #11
The syntax
[code]

sets `ECI_PARAM_TBL_MAX_NAME_LEN` equal to `CFE_TBL_MAX_NAME_LENGTH`, but that's all enclosed in a conditional, so that only happens if `ECI_PARAM_TBL_MAX_NAME_LEN` isn't already defined.

If you set `CFE_TBL_MAX_NAME_LENGTH` to the length you need it and do not set `ECI_PARAM_TBL_MAX_NAME_LEN` then I think you should be fine.

[2019-09-13 19:56] JimKaidyNASA commented on #11
Understood, but as you can see the cntl_srm_gains_Tbl is violating the ECI_PARAM.. limit.  I have not been able to locate where ECI_PARAM.. is set to a default, so I am supposing that it's being set equal to the CFE_TBL_MAX...  I just tried setting it from 28 (originally 16) to 58.  I deleted the elf2cfetbl executable and did a make clean and a make and still getting the same error.

[2019-09-13 20:02] SpaceSteve121 commented on #11
That snippet we've been discussing is the setting of the default value for `ECI_PARAM_TBL_MAX_NAME_LEN`. If you're not sure that's happening properly you could print the value using [a diagnostic pragma](https://stackoverflow.com/questions/1562074/how-do-i-show-the-value-of-a-define-at-compile-time) right before that table name check to verify what the value is.

[2019-09-13 20:03] skliper commented on #11
Is there a point at which it just becomes easier to have a shorter table name?  Changing low level defines in cFS is not trivial, as 9 days on this issue reflect.  You need to trace the various sizes passed around and make sure they are consistent everywhere to get it to work right.  Just changing CFE_TBL_MAX won't work, just changing ECI_PARAM won't work, etc.

In attempting to simplify an issue

[2019-09-13 20:15] JimKaidyNASA commented on #11
It doesn't like my pragma:
![image](https://user-images.githubusercontent.com/52501916/64892178-ba665e00-d641-11e9-8953-36b55aa88b67.png)

[2019-09-16 12:21] SpaceSteve121 commented on #11
@JimKaidyNASA What's the error message?

[2019-09-16 12:27] SpaceSteve121 commented on #11
I believe the syntax would be something like:

[code]

which is explained in the [gcc docs](https://gcc.gnu.org/onlinedocs/gcc-4.7.0/cpp/Stringification.html).

[2019-09-16 12:58] JimKaidyNASA commented on #11
Here is the pragma syntax error along with the remaining table length error.
![image](https://user-images.githubusercontent.com/52501916/64959896-2f16e380-d860-11e9-9bd0-d6ced64dd58c.png)

[2019-09-16 13:02] JimKaidyNASA commented on #11
Ok that worked and ECI_PARAM_TBL_MAX_NAME_LEN = 16.  If it is being set to CFE_MISSION_TBL_MAX_NAME_LENGTH  it should be set to 28.  I will check on that with a pragma as well.

[2019-09-16 13:06] JimKaidyNASA commented on #11
Ok so CFE_MISSION_TBL_MAX_NAME_LENGTH is being reset back to 16 somewhere.  I am setting in cfe_mission_cfg.h and somewhere downstream it is being overwritten.

[2019-09-16 13:15] JimKaidyNASA commented on #11
Looks like there are two locations (that matter) where the CFE_TBL_MAX_NAME_LENGTH is set.  The last one to execute must be the one in build/mission_inc.
![image](https://user-images.githubusercontent.com/52501916/64961017-903fb680-d862-11e9-8cee-d240ba3d5a8e.png)

[2019-09-16 13:28] JimKaidyNASA commented on #11
Good news we are no longer in the eci_tbl_if.h as the TBL MAX Names are both large (I set to 58).
We are in the cntl_srm_gains.o where the CFE_TBL_FileDef is causing a seg fault.

![image](https://user-images.githubusercontent.com/52501916/64961876-67202580-d864-11e9-8266-bcc34f716f46.png)

[2019-09-16 13:33] JimKaidyNASA commented on #11
Sorry about the syntax error.  Not CFE_MISSION_TBL...it is CFE_TBL_MAX_NAME_LENGTH we are talking about.

[2019-09-16 13:42] SpaceSteve121 commented on #11
Aren't we back to where we started, but with an incorrect table size of 200 rather than 172 this time? If so, it seems like your compiled elf2cfetbl tool is still out of sync with the size of the table structure in your source code?

Are you fully rebuilding all binaries (include the elf2cfetbl tool) in between each of these tests (by running `make distclean`), to ensure that you're not mixing var

[2019-09-16 13:49] JimKaidyNASA commented on #11
So I did the make distclean and make config and the make and I got past the cntl_srm_gains.c!

Now at the cntl_de_thresh.c and problems with type with the cntl_de_thresholds_Tbl.  This is progress...
![image](https://user-images.githubusercontent.com/52501916/64963380-27a70880-d867-11e9-990d-cbe440a5db73.png)

[2019-09-16 14:08] SpaceSteve121 commented on #11
@JimKaidyNASA If the original problem/question has been resolved, please close this issue. If there are further problems/questions please open an issue specific to each one so that questions/debugging/answers stay organized. Thanks!

[2019-09-16 14:10] JimKaidyNASA commented on #11
Will do.

[2019-09-16 14:10] #11 closed

[2019-09-16 14:12] JimKaidyNASA opened #13 "Conflicting Types for cntl_de_thresholds_Tbl"
The following errors are occurring when attempting to build tables (cfs_build_app_tbls).
![image](https://user-images.githubusercontent.com/52501916/64965158-799d5d80-d86a-11e9-90ce-b8a59c18d9a6.png)

[2019-09-16 14:37] SpaceSteve121 commented on #13
Can you post the source file containing the table definition?

Your generated code appears to have a different structure than the example code found [here](https://github.com/nasa/SIL/blob/master/tests/eci_compatibility/generatedCode.zip).

For that example code, the extern declaration `extern Tbl_b *Tbl ;` is in the private header (`SILTest_private.h`), whereas yours appears to be in your model h

[2019-09-16 14:49] JimKaidyNASA commented on #13
46 lines long.  I will look at the example.

![image](https://user-images.githubusercontent.com/52501916/64968027-7b1d5480-d86f-11e9-9628-d8915f643305.png)

[2019-09-16 14:52] SpaceSteve121 commented on #13
The issue appears to be the include for `Controller.h` in this file... that's not present in the example, which instead included `SILTest_types.h` (which includes `Tbl.h`, which has the typedef).

Did you resolve the issues with the compact formatting? Otherwise, I'm not sure what might be causing this difference in your generated code.

[2019-09-16 14:54] JimKaidyNASA commented on #13
I was just looking into that.  I thought we had resolved it.  I know I generated a new autocode with the option set properly.  I will look further.

[2019-09-16 15:20] JimKaidyNASA commented on #13
The Controller version from my last update of the autocode to have it produce the private include, etc, does not have an fsw directory.  It seems to have been added in after the autocode production.  Does this make any sense?  I will be checking with Tawanda on this.

[2019-09-16 15:34] SpaceSteve121 commented on #13
I'm not sure I follow the order of operations here... are you saying you fixed the generation of a `<model>_private.h` in a previous build and that this is a regression?

Generally the code is produced in a folder called `<model_name>_<coder_target>_rtw`, which for the example is `SILTest_cfs_ert_rtw`. This then has to be massaged into a directory structure consistent with your project's organizat

[2019-09-16 15:43] JimKaidyNASA commented on #13
It is not intentionally a regression but it looks like you could call it that.  I have the the latest one, which does not contain the fsw directory but has all the new ones when we set the autocode options correctly.  So the massaging into the directory structure is something I didn't know about.  But you can see below the new directory compared the old one which has the fsw in it.  I will look in

[2019-09-16 15:43] SpaceSteve121 commented on #13
Note that you can see an example of building a CFS app directory in [testWithECI.sh](https://github.com/nasa/SIL/blob/master/tests/eci_compatibility/testWithECI.sh), which might give you an idea of what directories are used in that example, but I can't comment of which of those are convention and which are required.

[2019-09-18 18:09] #13 closed

[2019-09-18 18:10] SpaceSteve121 commented on #13
@JimKaidyNASA Can you please post some information about how you resolved this for future reference?

[2019-09-18 18:14] JimKaidyNASA commented on #13
Was planning on that.  The perfsid and msgid files had not be created under the mission_inc and platform_inc respectively.  The header for the eci_interface.h had to be updated as well.

I am going to open a new issue as we have gotten past this one now.

[2019-09-18 18:16] JimKaidyNASA opened #14 "Table Name Size Violation for cntl_de_thresh.tbl"

[2019-09-18 18:16] SpaceSteve121 commented on #13
@JimKaidyNASA Can you explain the updates needed to eci_interface.h to get it working? As I've said, the generated code is designed to work out-of-the box, so if that's not the case then we'd like to fix the SIL.

[2019-09-18 18:19] JimKaidyNASA commented on #14
The table size max has been increased from 28 to 32 to now 64 as seen in pragmas in the eci_tbl_if.h

![image](https://user-images.githubusercontent.com/52501916/65174613-3cc69780-da1f-11e9-8edc-c3067064e9a4.png)

I don't know if there is another governing parameter I am missing for this table.

![image](https://user-images.githubusercontent.com/52501916/65174563-21f42300-da1f-11e9-86ed-f51c8f0173

[2019-09-18 18:21] JimKaidyNASA commented on #13
The last two are the ones I had to add (per Tawanda's direction).

![image](https://user-images.githubusercontent.com/52501916/65174835-a2b31f00-da1f-11e9-9546-91282f22805a.png)

[2019-09-18 18:25] SpaceSteve121 commented on #14
I believe that the list of relevant table macros is included in [this post](https://github.com/nasa/SIL/issues/11#issuecomment-531373005).

Can you clarify the intent of this issue? Are you looking for more information on the macros in that list? Do you think there's a problem with the SIL-generated table definition? Are you looking for help parsing an error message?

[2019-09-18 18:29] JimKaidyNASA commented on #14
The intent is to seek assistance parsing the error message provided above.
If anything this looks like the earlier issue that we fixed by setting the table max name size.

[2019-09-18 18:34] SpaceSteve121 commented on #13
Those includes do not need to be added by hand. The SIL has the ability to generate those includes.

If you look at you model configuration, in the `CFS Target Settings` tab there's configuration fields labeled `Message ID Header` and `Performance ID Header` which allow you to specify the names of your perfID and msgID headers. Putting values into those fields will cause the SIL to generate those

[2019-09-18 18:36] SpaceSteve121 commented on #14
As far as I can tell, the images above don't contain an error message... I only see a warning and several notes. If I'm missing it, can you please point it out?

[2019-09-18 18:42] JimKaidyNASA commented on #14
Yes they are warnings and I have only circumstantial evidence they are related.  The complaint about the initializer-string  for the array chars is too long seemed to be a hint.  But it's complaining about the ECI_TBL_FILEDEF but ultimately says the recipe for target 'cntl_de_thresh.tbl" failed.  I'm looking for the cause.

[2019-09-18 18:56] SpaceSteve121 commented on #14
My understanding is that an error is always prefixed with  `error: ` in a gcc log. All I see are lines beginning with `warning: ` and `note: `. I don't see an error anywhere in what you've posted, so I'm struggling because as far as I can tell, you've omitted the actual error that you'd like help interpreting.

Maybe the error occurred somewhere between the first and second image?

If I'm misunder

[2019-09-18 19:08] JimKaidyNASA commented on #14
Here is the APP TABLE build listing.  I will look for the gcc log and see if I can put that here.
![image](https://user-images.githubusercontent.com/52501916/65178133-1b1cde80-da26-11e9-9fbd-5ed4f9963e70.png)

[2019-09-18 19:14] SpaceSteve121 commented on #14
Apologies for the confusion, that is what I meant by the gcc log. I don't see an error in there... perhaps that warning is what's causing the build to fail? If so, perhaps ensure that the length you've allocated is sufficient to hold the description?

[2019-09-18 19:41] JimKaidyNASA commented on #14
As before with the srm gains table we ultimately found the parameter and were able to set it to a large enough value for the table name we were using.  That said, this may or may not be related, but I am going to want a similar outcome.  A parameter that somehow governs this size issue that can be set appropriately.

[2019-09-18 19:45] SpaceSteve121 commented on #14
@JimKaidyNASA That's really more of a CFS configuration question/issue so I'm not sure I can be of much service... perhaps @skliper knows what you're looking for?

[2019-09-18 19:52] JimKaidyNASA commented on #13
As I understand the process and have documented for the Controller app, (named cnt), I have learned that I must manually create a number of features under the cfs/apps directory.
1. Bring the cnt directory (with all the autocode) under apps
2. Create an fsw directory under cnt
3. Create subdirectories under cnt/fsw which include eci_in, for_build, mission_inc, platform_inc, src and tables
4. Among

[2019-09-19 17:22] JimKaidyNASA commented on #14
Looking for some help on why this failure is occurring or at least how to troubleshoot it.
![image](https://user-images.githubusercontent.com/52501916/65266199-9216ad80-dae0-11e9-91ac-74313115468b.png)

[2019-09-19 17:58] skliper commented on #14
Likely due to reconfiguring table name sizes, since it works without this change.  Project issues with reconfiguring cFS defaults is typically outside my scope (we've only got resources to best effort support the nominal configuration), is there a cFS expert on your project that can help?  Maybe run a debugger on the elf2cfetbl cntl_de_thresh.o call?

[2019-09-19 18:11] JimKaidyNASA commented on #14
We do not have a cFS expert.  Is there a debugger for the build?

[2019-09-19 19:03] skliper commented on #14
GDB has worked well for folks in the past.

[2019-09-19 19:22] JimKaidyNASA commented on #14
I've used debuggers for after something compiles correctly.

Can you give me a syntactic use of it in place of or part of make?

[2019-09-19 19:33] skliper commented on #14
The last failure you shared is on the step where it's trying to run elf2cfetbl on your .o file.  Just replicate that call stand-alone, wrapped with gdb.

[2019-09-19 19:36] JimKaidyNASA commented on #14
Sorry to be a pain.  What syntax am I using to replicate that call wrapped with gdb?

[2019-09-19 19:41] SpaceSteve121 commented on #14
@JimKaidyNASA He's saying that the line

[code]

which is the first line in the image you posted, is an invocation of the elf2cfetbl tool. Since the problem appears to be coming from there, using GDB to investigate what's happening during the execution of elf2cfetbl might yield additional information.

[2019-09-19 19:44] JimKaidyNASA commented on #14
So this?
$gdb ../elf2cfetbl/elf2cftbl cntl__de_thresh.o

[2019-09-19 19:51] JimKaidyNASA commented on #14
Not sure how this is working.  The argument being an object file is not what gdb expects (looking for core dump file).
![image](https://user-images.githubusercontent.com/52501916/65276262-5e924e00-daf5-11e9-904f-7b8c7d6f743f.png)

[2019-09-19 20:04] SpaceSteve121 commented on #14
GDB has extensive documentation which should guide you on how to invoke it properly.

Unfortunately, I don't think the SIL is able to provide any additional support in this regard and so I plan to close this issue. The SIL already attempts to warn you if you're exceeding the CFS settings for table name length, which we've demonstrated work and reflect the changes you made to your CFS configuration

[2019-09-19 20:12] JimKaidyNASA commented on #14
Understood Steve.  Thanks for your help.  I will let you know if I discover anything that the SIL might be able to do here.

[2019-09-19 20:15] skliper commented on #14
If you need real cFS support there's likely mechanisms to arrange an agreement with GSFC, although something like that is above my level.

[2019-09-19 20:18] JimKaidyNASA commented on #14
I've never run a debugger where the argument is an object file.  But even if you helped with this, it would likely lead to other questions.  Thanks @skliper for your help.

[2019-10-07 14:01] JimKaidyNASA opened #15 "Pipe Size Limitations and Name Creation"
I am inferring that the pipe names created in eci_interface.h are from concatenation of the Simulink bus name and the Simulink signal name.  If this is the case, two modestly sized names are likely to be under the limit (16 characters?).  If this is the case, I recommend using the signal name only to allow for name limits not to be violated, or, increase size limit (likely more difficult).

An exa

[2019-10-07 15:20] SpaceSteve121 commented on #15
Jim,

The snippet you posted is the definition of a macro defining the message ID of your of your input or output message. That macro is handled by the compiler's pre-processor and the actual string you see there is replaced with the value defined by that macro before the code is compiled. So that can't be causing a length error.

Because that macro doesn't make it into the compiled code, there's

[2019-10-07 15:21] SpaceSteve121 commented on #15
@skliper Is the practice of naming apps with 2-3 character identifiers codified anywhere? Either in a code limitation or a best practices document? If best practices specify longer app names are allowed, then I'll be happy to look into what we can do to ensure the SIL facilitates that.

[2019-10-07 15:30] JimKaidyNASA commented on #15
So then it isn't the length of the combined signal name and bus name.  It is the name of the model that is breaking the 20 character limit when combined with the pipe names.  Right now that name is Controller.  If I shorten that to cnt, we should be good right?

[2019-10-07 15:37] SpaceSteve121 commented on #15
If you name your model `cnt`, you should expect to see the SIL-generated `eci_interface.h` define the pipe names as `CNT_CMD_PIPE` and `CNT_DATA_PIPE`, which are 12 and 13 characters respectively. Those are under the 20 character limit present in all the public OSAL's, and so should work fine assuming you're using one of those. If not, you'll have to find the limit for your OSAL and adjust accordi

[2019-10-07 15:39] JimKaidyNASA commented on #15
I am using the stock OSAL.

[2019-10-07 17:07] skliper commented on #15
https://github.com/nasa/cFE/blob/master/docs/CFS%20Tlm%20and%20Cmd%20Mnemonic%20Naming%20Convention.doc

Under "APP_" it specifies the application identifier is up to 5 characters, and the underscore is the 5th (so really up to 4 letters).  CFDP_ and TIME_ are at the limit.

Sample_app is really the only place I know of that this guidance is broken.

[2019-10-07 17:15] SpaceSteve121 commented on #15
@skliper Thanks!

@JimKaidyNASA Based on that, I don't plan to make any changes to the pipe names themselves, because they already support the recommended lengths (and then some). I do plan to look into if the signal name is sufficient to identify the output packet. If so, that might help shorten those macros, which will help readability (but otherwise has no effect on the code).

[2019-10-10 15:33] JimKaidyNASA opened #16 "Table File Load Command and File Not Found"
I have been able to send commands with the python GroundSystem.  Specificially attempted to upload table files that exist in the directory structure (created in the build).  So for instance I tried to load the ~/build/cpu1/exe/cntl_de_gn.tbl using Table Load Command:

![image](https://user-images.githubusercontent.com/52501916/66583746-e3e7ac00-eb51-11e9-8d75-9d409bb03b8a.png)

The cFS output show

[2019-10-14 15:20] SpaceSteve121 commented on #16
@JimKaidyNASA Can you post the output of the CFS startup process? Are there any entries about failing to load a table? If so, it might be a problem with the table definition. If not, it might be a problem with your command.

Regardless of which problem it is, we'll likely need the following information to troubleshoot:
* arguments to the `ECI_TBL_FILEDEF` macro for this table (located in the table

[2019-10-14 15:21] JimKaidyNASA opened #17 "Failed Table Load"
Immediately following the successful load and startup of CNT_APP, the error "Fail to load Tbl" is throwing an error code 0xcc000020 indicating a mismatch between the Table file name and the name in the code of the table.  From the log output, it appears that the are case differences and an _ versus a . character.  Not sure if this is the problem or something else.
![image](https://user-images.gith

[2019-10-14 15:26] SpaceSteve121 commented on #17
@JimKaidyNASA I'd like to handle this issue before #16, because I think they probably have the same root cause.

Therefore, as requested in #16, can you post the following information here:
* arguments to the `ECI_TBL_FILEDEF` macro for this table (located in the table's source file)
* value you're using for `PARAM_TBL_PATH_PREFIX` (which can be found in [eci_app_cfg.h](https://github.com/nasa/ECI

[2019-10-14 15:31] JimKaidyNASA commented on #16
![image](https://user-images.githubusercontent.com/52501916/66763121-4a800900-ee75-11e9-83d8-f67eda760884.png)

![image](https://user-images.githubusercontent.com/52501916/66763193-697e9b00-ee75-11e9-9df4-57d6e68b1aad.png)

Arguments:
![image](https://user-images.githubusercontent.com/52501916/66763402-c5e1ba80-ee75-11e9-9471-ea0b4fc3ddc2.png)

PARAM_TBL_PATH_PREFIX commented out?
![image](https:/

[2019-10-14 15:48] SpaceSteve121 commented on #16
@JimKaidyNASA If at all possible, please post using [github code blocks](https://help.github.com/en/articles/creating-and-highlighting-code-blocks) for code/output. Makes it much easier to read and copy/paste.

Sorry, could use a bit more info. Can you also post your table definition structure (ie, the `ECI_ParamTable` variable) from `eci_interface.h`?

Can you confirm that you posted the definiti

[2019-10-14 16:51] JimKaidyNASA commented on #16
I am cutting and pasting from my VM because with VPN, I cannot send the code over the Firefox github with code highlights due to an unknown block in network visibility.  Only when I turn off the VPN can I send the code over github.  If this is a problem, I will have to turn the VPN on/off send it, then VPN off/on each time I send this way.
Here is the definition of ECI_ParamTable in eci_interface.

[2019-10-14 19:26] SpaceSteve121 commented on #16
The definition of `ECI_Tbl_t` (the type of `ECI_ParamTable`) [can be found here](https://github.com/nasa/ECI/blob/master/fsw/src/eci_app.h#L108). As you can see, the name is the second element. In the definition you've provided its `ctnl_acs_gn_Tbl`.

In the macro `ECI_TBL_FILEDEF`, [defined here](https://github.com/nasa/ECI/blob/master/fsw/src/eci_tbl_if.h#L38), the table name is the 3rd argument

[2019-10-14 19:33] JimKaidyNASA commented on #16
I was thinking it might be something to do with _ versus . delimiter between gn and Tbl.

But as far as CNT naming that is the new name of the model instead of Controller.  It was built with the name CNT.  Now as to the CNT_APP, that was the naming convention (working with Tawanda here), that was given to the cfe_es_startup.scr:

CFE_APP, /cf/apps/cnt.so,    cnt_AppMain, CNT_APP,  60, 16384, 0x0,

[2019-10-14 19:42] SpaceSteve121 commented on #16
I suspect that's your issue then. [You can see here](https://github.com/nasa/cFE/blob/c6abd3779ea836cf63007b1f9bd4c1985d9a9519/fsw/cfe-core/src/es/cfe_es_apps.c#L289), that ES uses the 4th entry as the name of the app (in this case `CNT_APP`), however, in your `eci_interface.h` you likely have some defines like

[code]

where you're defining your app's name as `CNT`. When SIL generates the table n

[2019-10-14 19:43] JimKaidyNASA commented on #16
Looks like changing CNT_APP to CNT might have fixed it.

![image](https://user-images.githubusercontent.com/52501916/66778344-5e3d6680-ee99-11e9-8082-282a3ef4f476.png)

[2019-10-14 19:46] JimKaidyNASA commented on #16
So with the above have I still got a related issue?  CNT seems to be correct for upper and cnt for lower.  The above log does indicate that the App Does Not Register State Table.  Is this related?

[2019-10-14 20:04] SpaceSteve121 commented on #16
I'm unsure how to answer your question. It seems to me that #17 has been resolved... the error messages about being unable to load a table are no longer present in the output you're showing. If you agree then go ahead and close #17.

If you're no longer observing the problem that prompted this issue (commands not loading tables), then you can go ahead and close this one as as well.

The setting to

[2019-10-14 20:08] JimKaidyNASA commented on #16
Ok thanks.  That part of the is closed.  Since we consolidated #16 and #17, I am still working on the loading of the table from the ASIST command ground system.  I am unclear on whether I need the full path or the just the file name and is the file the one with the .tbl (should be).  These are located in the cfs/build/cpu1/exe and exe/cf.

[2019-10-14 20:11] SpaceSteve121 commented on #16
@JimKaidyNASA Unfortunately how table services interprets commands sent to it are beyond the scope of the SIL. I suspect you'd need to specify the full path, but I don't know the answer to your questions.

[2019-10-14 20:12] SpaceSteve121 commented on #17
Root cause ended up be mismatched app names between `cfe_es_startup.scr` and `eci_interface.h`. See #16 for additional information.

[2019-10-14 20:12] #17 closed

[2019-10-14 21:00] JimKaidyNASA commented on #16
Ok thanks for helping to track down the issue in the cfe_es_startup.scr.

[2019-10-15 12:23] #16 closed

[2020-04-13 16:54] SpaceSteve121 opened #19 "Look into shortening autogenerate MID macros"
The current MID macros can be quite verbose if information about the packet the signal object and port are associated with as included in both names. Is it possible to shorten this, while maintaining the guarantee of uniqueness?

Perhaps prepending the signal object name with the model name, since I believe signal objects can only be used on one signal in a particular model?

[2021-04-22 17:45] LornDMiller opened #20 "SIL not generating MID defines for SEND_HK and TBL_MANAGE messages"
The message IDs ECI_SEND_HK_MID and ECI_TBL_MANAGE_MID are not being defined in eci_interface.h. The ECI uses these message ids, so the clients must define them manually. My current work-around is to define them in my platform_inc/<app>_msgids.h file, but that is not compatible with multiple instances of the SIL.

This issue requests adding defines for these message ids along side the rest of the

[2021-12-10 22:25] acampbel opened #21 "Consider a cloud CI service"
Given public open source projects have free support for cloud ci services that support MATLAB, consider leveraging one of them here. 🎉

Here are some example repos to help get you started:

https://github.com/mathworks/ci-configuration-examples

https://github.com/mathworks/matlab-codecov-example

[2022-01-15 01:43] aaron-at-nasa opened #22 "Error in cfe_event block after importing cfe headers using"
Hello, I am a software developer at Ames and I've been consistently getting this problem where the CFS_Event block complains that the "Event format string parameter must be a string of less than 100 characters" even when the string is clearly less than 100 characters (see screenshot). This happens when I load in cfe headers using  `Simulink.importExternalCTypes(...)`.

In the first screenshot, I h

[2022-01-18 21:44] aaron-at-nasa commented on #22
Just for some background, here is the script I'm using to import headers:

[code]

[2022-01-21 23:01] aaron-at-nasa commented on #22
The issue was resolved by clearing the uint8 and uint16 types. Seems like there is a conflict between between the matlab types and the imported c types. I assume there are probably other conflicts between other types as well.
Attached is a zip file containing an example script to import the external c structures and a basic simulink file to test it out on.
Run the import_headers_example.m script a